*/
./*
!google-chrome/Default/Bookmarks
!mc/
!mc/*
!sublime-text-3/Packages/User/
!sublime-text-3/Packages/
!sublime-text-3/
gnome-initial-setup-done
gnome-initial-setup-done.FM1RTZ
mimeapps.list
monitors.xml*
user-dirs.locale
